<div style="display: flex;">
    <div class="strategy-details-content">
        <h2>RSI (Relative Strength Index) Strategy</h2>
        <label>
            The RSI is a momentum oscillator that measures the speed and change of price movements. It ranges from 0
            to 100 and is often used to identify overbought or oversold conditions in a market. The RSI strategy
            involvesusing the value of the RSI indicator to identify a potential reversal or continuation of a trend.
            <ul>
                <li> <b>Overbought Condition:</b> When RSI crosses above a certain threshold (e.g., 70), it's considered
                    overbought,
                    implying that the asset's price might be due for a downward correction.</li>
                <li><b>Oversold Condition:</b> When RSI crosses below a certain threshold (e.g., 30), it's considered
                    oversold,
                    suggesting that the asset's price might rebound upwards.</li>
            </ul>
        </label>
        <div style="text-align: center;">
            <img style="margin:10px;" width="350px" src="assets/img/rsi.png">
        </div>
    </div>
    <div style="width: 40px;"></div>
    <div class="strategy-details-content">
        <h2>Bollinger Bands Strategy</h2>
        <label>
            Bollinger bands consist of three lines: a simple moving average (SMA) in the middle, an upper and a lower
            band. The upper and lower bands are calculated based on standard deviations of the price from the SMA.
            Bollinger bands are used to assess volatility and potential price breakouts.
            <ul>
                <li>
                    <b>Volatility Expansion:</b> When the bands widen, it indicates higher volatility. This can signal
                    potential price
                    movements.
                </li>
                <li>
                    <b>Volatility Contraction:</b> When the bands narrow, it suggests lower volatility and a potential
                    upcoming
                    breakout.
                </li>
            </ul>
        </label>
        <div style="text-align: center;">
            <img style="margin:10px;" width="400px" src="assets/img/bbands.png">
        </div>
    </div>
</div>