<div class="main-div-content">
    <div style="text-align: -webkit-center; " *ngIf="isShowSpinner">
        <mat-spinner style="margin-top: 30px;" [diameter]="200"></mat-spinner>
    </div>
    <div class="start-bot-content" style="padding-top: 5px;"
        [ngStyle]="{ 'display': isShowSpinner ? 'none' : 'block' }">
        <table class="table table-striped" mat-table [dataSource]="dataSource" matSort>
            <!-- <ng-container matColumnDef="lp">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
                <td mat-cell *matCellDef="let bot"> {{bot.lp}} </td>
            </ng-container> -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td mat-cell *matCellDef="let bot"> {{bot.name}} </td>
            </ng-container>
            <ng-container matColumnDef="strategy">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Strategy</th>
                <td mat-cell *matCellDef="let bot"> {{bot.strategy}} </td>
            </ng-container>
            <ng-container matColumnDef="createDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Create Date</th>
                <td mat-cell *matCellDef="let bot"> {{bot.createDate | date: 'dd.MM.yyyy HH:mm:ss'}} </td>
            </ng-container>
            <ng-container matColumnDef="pairStock">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Stock</th>
                <td mat-cell *matCellDef="let bot"> {{bot.pairStock}} </td>
            </ng-container>
            <ng-container matColumnDef="budget">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Budget</th>
                <td mat-cell *matCellDef="let bot"> {{bot.budget}} </td>
            </ng-container>
            <ng-container matColumnDef="roi">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ROI</th>
                <td mat-cell *matCellDef="let bot"> 
                    <label style="color: #c52323" *ngIf="0 > bot.roi"><b>{{bot.roi}}%</b></label>
                    <label *ngIf="bot.roi == 0"><b>{{bot.roi}}%</b></label>
                    <label style="color: green;" *ngIf="bot.roi > 0"><b>{{bot.roi}}%</b></label>
                </td>
            </ng-container>
            <ng-container matColumnDef="wlRatio">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Win-Lose Ratio</th>
                <td mat-cell *matCellDef="let bot">
                    <label style="color: #c52323" *ngIf="0 > bot.wlRatio"><b>{{bot.wlRatio}}%</b></label>
                    <label *ngIf="bot.wlRatio == 0"><b>{{bot.wlRatio}}%</b></label>
                    <label style="color: green;" *ngIf="bot.wlRatio > 0"><b>{{bot.wlRatio}}%</b></label>
                </td>
            </ng-container>
            <ng-container matColumnDef="resultValue">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Result</th>
                <td mat-cell *matCellDef="let bot">
                    <label style="color: #c52323" *ngIf="0 > bot.resultValue">
                        <b>{{bot.resultValue}}$<br>[{{bot.resultValue-bot.budget | number:'1.2-2'}}]</b>
                    </label>
                    <label *ngIf="bot.resultValue == 0"><b>{{bot.resultValue}}$</b></label>
                    <label style="color: green;" *ngIf="bot.resultValue > 0">
                        <b>{{bot.resultValue}}$<br>[{{bot.resultValue-bot.budget | number:'1.2-2'}}]</b>
                    </label>
                </td>
            </ng-container>
            <ng-container matColumnDef="resampleFreq">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Freq</th>
                <td mat-cell *matCellDef="let bot"> {{bot.resampleFreq}}</td>
            </ng-container>
            <ng-container matColumnDef="startDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</th>
                <td mat-cell *matCellDef="let bot"> {{bot.startDate | date: 'dd.MM.yyyy'}} </td>
            </ng-container>
            <ng-container matColumnDef="endDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>End Date</th>
                <td mat-cell *matCellDef="let bot"> {{bot.endDate | date: 'dd.MM.yyyy'}} </td>
            </ng-container>
            <!-- <ng-container matColumnDef="parameters">
                <th mat-header-cell *matHeaderCellDef>Parameters</th>
                <td mat-cell *matCellDef="let bot" style="text-align: left;">
                    <ul class="dots-list">
                        <li class="dot">Amount: {{parseParameters(bot.parameters).amount}}</li>
                        <li class="dot">RSI Height Level: {{parseParameters(bot.parameters).rsiHeightLevel}}</li>
                        <li class="dot">RSI Low Level: {{parseParameters(bot.parameters).rsiLowLevel}}</li>
                        <li class="dot">Stop Loss: {{parseParameters(bot.parameters).stopLoss}}</li>
                        <li class="dot">Take Profit: {{parseParameters(bot.parameters).takeProfit}}</li>
                    </ul>
                </td>
            </ng-container> -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let bot">
                    <button *ngIf="deleteBotId !== bot.id" type="button" class="btn btn-primary"
                        (click)="openBotDetails(bot)">Details</button>
                    <button *ngIf="deleteBotId !== bot.id" type="button" class="btn btn-danger"
                        (click)="onClickRemoveBot(bot.id)">Remove</button>
                    <label *ngIf="deleteBotId === bot.id"><mat-spinner></mat-spinner></label>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons [pageSize]="5">
        </mat-paginator>
    </div>
</div>