mat-form-field {
    padding: 5px;
}

.btn {
    width: 110px;
    margin-top: 10px;
    font-size: 20px;
    padding: 25px;
}

.slide-left-up-animation {
    transition: all 1s ease-in-out;
    transform: translate(calc(-35% + 5vw), calc(-20% + 5vh)) scale(calc(1 / 1.25));
}

.start-bot-result-budget {
    position: absolute;
    top: 7%;
    right: 13%;
    bottom: 0;
    width: 50%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: fit-content;
    min-width: fit-content;
    padding: 20px;
    height: fit-content;
    border-radius: 10px;
}