html,
body {
    height: 100%;
    background: #E7EAEE;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
    margin: 5px;
}

.mat-mdc-snack-bar-label {
    font-size: 20px !important;
}

.mat-mdc-snack-bar-actions span {
    color: white;
    font-size: 25px;
}

.custom-css-class-success {
    --mdc-snackbar-container-color: #439b4b;
}

.custom-css-class-error {
    --mdc-snackbar-container-color: #D55656;
}

.custom-css-class-info {
    --mdc-snackbar-container-color: #92a0ec;
}

.custom-css-class-warming {
    --mdc-snackbar-container-color: #ffce2e;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.main-div-content {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.start-bot-content {
    height:  fit-content;
    background: white;
    width: fit-content;
    min-width: fit-content;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-left: 10px;
}
